<div class="flex">
    <div class="w-1/2 my-16 mx-20">
        <p class="text-grey-500 text-2xl tracking-widest text-left font semi-bold ">PRIME LOCATION AND <br>SOPHISTICATED LIVING</p>
        <p class="text-4xl font-bold pt-4 tracking-widest">RICHO HOMES</p>
        <p class="text-lg tracking-widest pt-6">Richo homes is an exceptional new<br> development located adjacent to the iconic<br> Richo Towers,offering a range of 1 <br>and 2 bedroom units</p>
    </div>
    <div class="w-1/2">
        <img src="https://www.grosvenor.co.ke/assets/dining.png">
    </div>

</div>
