<section class="footer bg-black mt-20">
    <img class="scale-50" src="/grosvenorlogo.png">
    <div class="flex justify-center space-x-2">
        <p class="text-white pr-2 border-r border-white ">Call us:<span>&nbsp;+254 795 699 999</span></p>
        <p class="text-white pr-2 border-r border-white">Email us:<span>&nbsp;sales &#64;pinecrestea.co.ke </span></p>
        <p class="text-white">Address:<span>&nbsp;Westlands, Nairobi, Kenya </span></p>
    </div>

    <p class="text-white text-center pt-10">&copy;All rights reserved</p>
    <p class="text-white text-center pt-10">Powered by <a href="https://www.karimcgvisuals.com/"><span class="text-blue-600">KARIMCG||VISUALS</span></a></p>
</section>
