<section class="footer bg-black mt-20 pt-10">
    <p class="text-3xl text-center ml-6 text-white font-thin italic tracking-wide"><span class="tracking-widest ml-6 text-5xl italic text-white">RICHO</span ><br>HOMES</p>
    <div class="flex justify-center space-x-2 pt-4">
        <p class="text-white pr-2 border-r border-white ">Call us:<span>&nbsp;+254 712345678</span></p>
        <p class="text-white pr-2 border-r border-white">Email us:<span>&nbsp;sales &#64;richo.co.ke </span></p>
        <p class="text-white">Address:<span>&nbsp;Richo, Nairobi, Kenya </span></p>
    </div>

    <p class="text-white text-center pt-10">&copy;All rights reserved</p>
    <p class="text-white text-center pt-10">Powered by <a><span class="text-green-600">RICHO||VISUALS</span></a></p>
</section>
