
<div class="bg-[url('/bg.jpg')] py-20">
    <p class="text-4xl text-white text-center">AMENITY RICH</p>
    <div class="flex justify-around px-10 pt-10">
    <div class="flex flex-col">
        <p class="text-white">1 &#64;2 <br>bedrooms</p>
        <img class="w-12 h-12" src="https://www.grosvenor.co.ke/assets/icons/bedroom.svg">
    </div>
    <div class="flex flex-col">
        <p class="text-white">Cafe <br>Lounge </p>
        <img  class="w-12 h-12"src="https://www.grosvenor.co.ke/assets/icons/coffee.svg">
    </div>
    <div class="flex flex-col">
        <p class="text-white">Ample <br>Parking</p>
        <img class="w-12 h-12" src="https://www.grosvenor.co.ke/assets/icons/car.svg">
    </div>
    <div class="flex flex-col">
        <p class="text-white">Business<br>Lounge</p>
        <img class="w-12 h-12" src="https://www.grosvenor.co.ke/assets/icons/lounge.svg">
    </div>
    <div class="flex flex-col">
        <p class="text-white">Residence <br>Lounge</p>
        <img class="w-12 h-12" src="https://www.grosvenor.co.ke/assets/icons/sofa_.svg">
    </div>
    <div class="flex flex-col">
        <p class="text-white">Rooftop<br>pool</p>
        <img class="w-12 h-12" src="https://www.grosvenor.co.ke/assets/icons/pool.svg">
    </div>
</div>

<div class="flex justify-around px-10 py-10 mt-10">
    <div class="flex flex-col">
        <p class="text-white">Courtyard <br>pool</p>
        <img class="w-12 h-12" src="https://www.grosvenor.co.ke/assets/icons/wave.svg">
    </div>
    <div class="flex flex-col">
        <p class="text-white">Play <br>area</p>
        <img class="w-12 h-12" src="https://www.grosvenor.co.ke/assets/icons/play_area.svg">
    </div>
    <div class="flex flex-col">
        <p class="text-white">Gym<br>Yoga</p>
        <img class="w-12 h-12" src="https://www.grosvenor.co.ke/assets/icons/gym.svg">
    </div>
    <div class="flex flex-col">
        <p class="text-white">24/7 <br>security</p>
        <img class="w-12 h-12" src="https://www.grosvenor.co.ke/assets/icons/cctv.svg">
    </div>
    <div class="flex flex-col">
        <p class="text-white">Central<br>Courtyard</p>
        <img class="w-12 h-12" src="https://www.grosvenor.co.ke/assets/icons/forest.svg">
    </div>
    <div class="flex flex-col">
        <p class="text-white">Power<br>Backup</p>
        <img class="w-12 h-12" src="https://www.grosvenor.co.ke/assets/icons/power.svg">
    </div>
</div>
