<section id="header">
    <div class="  w-screen min-h-20 fixed z-[999]flex bg-black py-4 flex justify-between space-x-1 pr-20 pl-20">
        <p class="text-3xl ml-2 text-white font-thin italic tracking-wide"><span class="tracking-widest  text-5xl italic text-white">RICHO</span ><br>HOMES</p>
        <div class="flex space-x-4 ">
            
           <a href="#home"><button class="text-white pt-8" >HOME</button></a>
           <a href="#residences"><button class="text-white pt-8">RESIDENCES</button></a>
           <a href="#amenities"><button class="text-white pt-8">AMENITIES</button></a>
           <a href="#location"><button class="text-white pt-8">LOCATION</button></a>
           <a href="#floorplans"><button class="text-white pt-8">FLOOR PLANS</button></a>
            <button (click)="openDialogue()" href="#" class="bg-[url('/bg.jpg')] text-center text-white w-30 h-10 rounded-2xl border border-white border-4 px-2 py-1 mt-7 text-sm">REGISTER YOUR INTEREST</button>
        </div>
    </div>
</section>
