<section>
    <div class="sticky absolute-top-0 flex bg-black py-4 justify-between space-x-1 pr-20 pl-20">
        <img src="https://www.grosvenor.co.ke/assets/logo2.png" class="h-10 scale-150 pt-4">
        <div class="flex space-x-4 ">
            <a href="#" class="text-white pt-4">HOME</a>
            <a href="#" class="text-white pt-4">RESIDENCES</a>
            <a href="#" class="text-white pt-4">AMENITIES</a>
            <a href="#" class="text-white pt-4">LOCATION</a>
            <a href="#" class="text-white pt-4">FLOOR PLANS</a>
            <button class="bg-[url('https://www.grosvenor.co.ke/media/button-bg-JXXOHCOE.jpg')] text-center text-white w-30 rounded-2xl border border-white border-4 px-4 py-4 text-sm">REGISTER YOUR INTEREST</button>
        </div>
    </div>
</section>
