<div class="h-fit w-fit bg-cover max-w-md px-2 bg-[url('bg.jpg')] rounded-lg pb-16 ">
    <p class="font-bold py-4 text-white">Download Bronchure</p>
    <p class="pt-4 text-white">Fill the form below to download bronchure</p>
    <form class="overflow-y-scroll max-h-96">
        

        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Full name</mat-label>
            <input id= "name" class="p-3 w-full"  mat-input [(ngModel)]="name" placeholder="Full Name" required>
        </mat-form-field><br>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label class="text-grey-500">Email Address</mat-label>
            <input class="p-3 w-full" mat-input [(ngModel)]="email" placeholder="Email Address" required>
        </mat-form-field><br>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Phone</mat-label>
            <input class="p-3 w-full" mat-input [(ngModel)]="phone" placeholder="Phone" required>
        </mat-form-field><br>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Company</mat-label>
            <input class="p-3 w-full" mat-input [(ngModel)]="company" placeholder="Company" required>
        </mat-form-field><br>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Message</mat-label>
            <input class="p-3 w-full" mat-input [(ngModel)]="message" placeholder="Message">
        </mat-form-field>
        <mat-checkbox class="text-white mb-16 ">I agree to the terms and conditions</mat-checkbox><br>
        <button class="align-end text-white rounded-lg px-2 py-1 border-2 border-white">SUBMIT</button>
    
    </form>
</div>